<div>
  <input type="text" [(ngModel)]="addModel.work">
  <input type="date" [(ngModel)]="addModel.createdAt">
  <input type="checkbox" [(ngModel)]="addModel.isCompleted">
  <button (click)="add()">Add</button>
</div>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Work</th>
      <th>Created At</th>
      <th>Is Completed</th>
      <th>Operations</th>
    </tr>
  </thead>

  <tbody>
    @for(t of todos; track t){
    <tr>
      <td>{{$index+1}}</td>
      <td>{{t.work}}</td>
      <td>{{t.createdAt | date:'dd.MM.yyyy'}}</td>
      <td>{{t.isCompleted ? 'Completed' : 'Not Completed'}}</td>
      <td>
        @if (!t.isCompleted) {
        <button (click)="removeByIndex($index)">Delete</button>
        }
      </td>
    </tr>
    }
  </tbody>

</table>